.Main {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top: 2vh;
  width: 50%;
  resize: none;
  height: 10vh;
  margin-bottom: 2vh;
}

.submit {
  padding: 12px 24px;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
}

.copied {
  color: red;
}
